.campo__texto{
    margin: 24px 0;
    font-family:'Montserrat', sans-serif;
}

.campo__texto label{
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600; 
    display: block;
    margin-bottom: 0.5rem;
}

.campo__texto input{
    width: 100%;
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25%);
    border: none;
    padding: 30px 20px;
    outline-color: #6278F7;
    font-size: 1rem;
    box-sizing: border-box;
}